
{{#if user}}

<div class="container">


      <!-- Form -->
        <form method="post" action="/data/load"  class="text-center" style="color: #757575;">
            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Load Data</button>

        </form>
        <!-- Form -->

{{#if data}}
{{#each data}}
    <details id="{{this.name}}">

        <summary>{{this.name}} ( #{{this.courses.length}} )</summary>

    {{#each this.courses}}

        <div class="cont" style="max-width:100%;max-heigth:100%;padding:1rem;border:gray solid 1px; margin:4px 0px;">
            <p> {{this.filename}}</p>

        <div class="row">
            <div class="col-md-6">
        <h5 style="color:black;font-size:10px"> duration - {{this.duration}}</h5>
        <p> Category: {{../this.name}}</p>
        <p> Course id: {{this._id}}</p>
            </div>

            <div class="col-md-6">

        <form method="post" action="/data/delete_course">
            <input type="hidden" name="id" value="{{this._id}}">
            <input type="hidden" name="subName" value="{{../this.name}}">
            <button type="submit" class="btn-danger">  Delete Course</button>
        
        </form>        
            </div>

            </div>
            
            <h5 style="color:black;font-size:10px"> {{this.Description}}</h5>
        <img style="max-width:80%;max-height:60%" src="/{{this.thumbnail}}" alt="{{thumbnail}}">

        </div>
    {{/each}}
    </details>
{{/each}}
</div>
{{else}}
     <div class="alert alert-danger">No data found that matches your search</div> 
{{/if}}

{{else}}
     <div class="alert alert-danger">Please login</div> 
{{/if}}