<h3 style="font-size:14px;margin-left:10px;color:rgb(58, 55, 55)">{{ videoTitle }}</h3>

<p> # of Videos {{{videoFiles.length }}} </p>
{{#if user}}
<div class="row justify-content-lg-start justify-content-md-start">
  {{#each videoFiles }}
  <div class="col-md-4 col-lg-3 col-sm-12">
    <div class="card mb-3 shadow-sm">
      <img class="bd-placeholder-img card-img-top" id="video-{{@index}}" src="/{{vid_thumbnail}}">
      </img>
      <div class="card-body">
        <p class="card-text">{{vid_name}}</p> <!-- formatMe is a custom helper -->
        

          <a href="/viewer/view/{{vid_url}}/{{_id}}">Watch Video</a>

          <small class="text-muted" id="vid-{{@index}}"></small>
        
      </div>
    </div>
  </div>

  {{/each}}
</div>
{{else}}
<div class="alert alert-danger">Please login</div>

{{/if}}